* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}


/*===============landing page section===============*/
#bg-image {
    background-image: url(./images/2.jpg);
    min-height: 50vh;
    background-repeat : no-repeat;
    background-size: cover;
    background-position: 75% 50%;
    background-attachment: scroll;
    display: absolute;
}

.front-bg {
    background: rgba(0, 0, 0, 0.2);
    min-height: 50vh;
}

.container {
    
    margin: 0 45rem;
    position: relative;
    width: 40%;
    border-radius: 15px;
    margin-left: auto;
}

.title {
    font-family: "Zilla Slab",serif;
    font-size: 2.50rem;
    font-weight: 600;
    text-align: left;
    display: inline-block;
    margin-left: auto;
    color: white;   
}



.subtitle {
    font-size: 1.30rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: white;
    text-align: left;
    width: 50%;
    margin-right: auto;
    margin-top: 0.5em;
}

html {
	scroll-behavior: smooth;
}

